<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DesignYourSound - Connexion</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/auth-and-user.min.css') }}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon"  href="{{ url_for('static', filename='img/DesignYourSound-wave.svg') }}"/>

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <img class="pl-4 pt-4 pb-4" width="100%" src="{{ url_for('static', filename='img/DesignYourSound-final.svg') }}">
              </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Connectez vous !</h1>
                  </div>

                  {% with categories = ['error', 'success'] %}
                        {% include 'utils/alert/alert.html.jinja2' %}
                  {% endwith %}

                  <form class="user" action="{{ url_for('auth.login') }}" method="POST">
                    <div class="form-group">
                      <input 
                        type="email" 
                        class="form-control form-control-user"
                        name="email" 
                        id="email" 
                        placeholder="Email"
                        value="{{ request.form['email'] }}"
                        required>
                    </div>
                    <div class="form-group">
                      <input 
                        type="password" 
                        class="form-control form-control-user"
                        name="password"
                        id="password" 
                        placeholder="Mot de passe"
                        value="{{ request.form['password'] }}"
                        required>
                    </div>
                    <input type="submit" value="Se connecter" class="btn btn-primary btn-user btn-block">
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="{{ url_for('auth.forgot_password') }}">Mot de passe oublié ?</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{{ url_for('auth.signup') }}">Créer votre compte !</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{{ url_for('index.index') }}">Retournez à la page d'accueil</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/auth-and-user.min.js') }}"></script>

</body>

</html>
