<!DOCTYPE html>
<html lang="fr">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <title>DesignYourSound - S'inscrire</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/auth-and-user.min.css') }}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon"  href="{{ url_for('static', filename='img/DesignYourSound-wave.svg') }}"/>

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block">
            <img class="pl-4 pt-4 pb-4" width="100%" src="{{ url_for('static', filename='img/DesignYourSound-final.svg') }}">
          </div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Créer votre compte !</h1>
              </div>

              {% with categories = ['error'] %}
                    {% include 'utils/alert/alert.html.jinja2' %}
              {% endwith %}

              <form class="user" action="{{ url_for('auth.signup') }}" method="POST">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input 
                      type="text" 
                      class="form-control form-control-user" 
                      name="firstName" 
                      id="firstName" 
                      placeholder="Prénom" 
                      value="{{ request.form['firstName'] }}" 
                      required>
                  </div>
                  <div class="col-sm-6">
                    <input 
                      type="text" 
                      class="form-control form-control-user" 
                      name="lastName" 
                      id="lastName" 
                      placeholder="Nom"
                      value="{{ request.form['lastName'] }}" 
                      required>
                  </div>
                </div>
                <div class="form-group">
                  <input 
                    type="email" 
                    class="form-control form-control-user" 
                    name="email" 
                    id="email" 
                    placeholder="Email"
                    {% if request.args.get('email') != None  %}
                      value="{{ request.args.get('email') }}"
                    {% else %}
                      value = "{{ request.form['email'] }}"   
                    {% endif %}                   
                    required>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input 
                      type="password" 
                      class="form-control form-control-user" 
                      name="password" 
                      id="password" 
                      placeholder="Mot de passe" 
                      value="{{ request.form['password'] }}" 
                      required>
                  </div>
                  <div class="col-sm-6">
                    <input 
                      type="password" 
                      class="form-control form-control-user" 
                      name="repeatPassword" 
                      id="repeatPassword" 
                      placeholder="Répéter votre mot de passe"
                      value="{{ request.form['repeatPassword'] }}"  
                      required>
                  </div>
                </div>
                <div class="form-group row justify-content-center">
                  <div class="g-recaptcha" data-sitekey={{ config['G_CAPTCHA_SITE'] }}></div>
                </div>
                <input type="submit" value="S'inscrire" class="btn btn-primary btn-user btn-block">
              </form>
              <hr>
              <div class="text-center">
                <a class="small" href="{{ url_for('auth.forgot_password') }}">Mot de passe oublié ?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{{ url_for('auth.login') }}">Vous êtes déjà membre ? Connectez-vous !</a>
              </div>
              <div class="text-center">
                <a class="small" href="{{ url_for('index.index') }}">Retournez à la page d'accueil</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Google recaptcha V2 -->
  <script src="https://www.google.com/recaptcha/api.js?hl=fr" async defer></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/auth-and-user.min.js') }}"></script>

</body>

</html>
