{% extends 'dashboard.html.jinja2' %}

{% block title %}
    Ajouter un utilisateur
{% endblock %}

{% block subtitle %}

{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% with categories = ['error', 'success'] %}
                {% include 'utils/alert/alert.html.jinja2' %}
            {% endwith %}

            <form class="user" method="POST">
                <div class="form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="status">Statut</label>
                    <select class="form-control" id="status" name="status" required>
                        {% for item in status %}
                            <option value="{{ item['id'] }}">{{ item['name_fr'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="submit" value="Créer" class="btn btn-primary btn-user btn-block">
            </form>
        </div>
    </div>
{% endblock %}