{% extends 'dashboard.html.jinja2' %}

{% block title %}
    Modifier un utilisateur
{% endblock %}

{% block subtitle %}
    Modifier les informations de l'utilisateur
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% with categories = ['error', 'success'] %}
                {% include 'utils/alert/alert.html.jinja2' %}
            {% endwith %}

            <form class="user" method="POST">
                <div class="form-group">
                    <label for="firstName">Prénom</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{ user['first_name'] }}" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Nom</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{ user['last_name'] }}" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{ user['email'] }}" required>
                </div>
                <div class="form-group">
                    <label for="status">Statut</label>
                    <select class="form-control" id="status" name="status" required>
                        {% for item in status %}
                            <option value="{{ item['id'] }}" {{ 'selected' if user['id_status'] == item['id'] else '' }}>{{ item['name_fr'] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-4 form-check">
                    <input type="checkbox" class="form-check-input" id="isConfirmed" name="isConfirmed" {{ 'checked' if user['is_confirmed'] else '' }}>
                    <label class="form-check-label" for="isConfirmed">Confirmé</label>
                </div>
                <input type="submit" value="Modifier" class="btn btn-primary btn-user btn-block">
            </form>
        </div>
    </div>
{% endblock %}