{% extends 'dashboard.html.jinja2' %}

{% block title %}
    Utilisateurs
{% endblock %}

{% block subtitle %}
    Consulter, mettre à jour et supprimer des utilisateurs
{% endblock %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Liste des utilisateurs</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                
                {% with categories = ['error', 'success'] %}
                    {% include 'utils/alert/alert.html.jinja2' %}
                {% endwith %}
                
                <table class="table table-bordered" id="historyTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ pretty_keys['first_name'] }}</th>
                        <th>{{ pretty_keys['last_name'] }}</th>
                        <th>{{ pretty_keys['email'] }}</th>
                        <th>{{ pretty_keys['status'] }}</th>
                        <th>{{ pretty_keys['is_confirmed'] }}</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>{{ pretty_keys['first_name'] }}</th>
                        <th>{{ pretty_keys['last_name'] }}</th>
                        <th>{{ pretty_keys['email'] }}</th>
                        <th>{{ pretty_keys['status'] }}</th>
                        <th>{{ pretty_keys['is_confirmed'] }}</th>
                        <th>Actions</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user['first_name'] }}</td>
                            <td>{{ user['last_name'] }}</td>
                            <td>{{ user['email'] }}</td>
                            <td>{{ user['status'] }}</td>
                            <td>{{ 'Oui' if user['is_confirmed'] else 'Non' }}</td>
                            <td>
                                <button class="btn btn-primary" onclick="location.href='{{ url_for('admin.admin_user_update', id=user['id']) }}'" type="button">Modifier</button>
                                <button class="btn btn-danger" onclick="location.href='{{ url_for('admin.admin_user_delete', id=user['id']) }}'" type="button">Supprimer</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}