{% for category in categories %}
    {% with messages = get_flashed_messages(category_filter=[category]) %}
        {% if messages %}
            {% for message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success text-center" role="alert">
                {% elif category == 'error' %}
                    <div class="alert alert-danger text-center" role="alert">
                {% endif %}
                {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
{% endfor %}