{% if is_pdf %}
  {% extends 'pdf.html.jinja2' %}
{% else %}
  {% extends "dashboard.html.jinja2" %}
{% endif %}

{% block title %}
  Conseils équipement
{% endblock %}

{% block subtitle %}
  {% if request.method == "GET" %}
    Ce module est là pour vous aider dans votre quête d’une meilleure optimisation de votre chaîne électro/acoustique et d’un placement optimal de votre écoute stéréo dans votre salle dédiée.
  {% elif request.method == 'POST' %}
    Résultats
  {% endif %}
{% endblock %}

{% block content %}
  {% if request.method == "GET" %}
    <div class="card">
      <div class="card-body">
        <p>Quatres points sont importants pour bien adapter son amplificateur aux enceintes:</p>
        <ul>
          <li><b>La puissance maximale admissible</b> (en Watt) : il s'agit de la puissance maximale que pourra recevoir l'enceinte. Idéalement, l'amplificateur ne devra pas dépasser cette puissance, sous peine d'endommager l'enceinte à moyen terme.</li>
          <li><b>La puissance nominale (RMS)</b> :C’est  la norme de référence en matière de puissance audio.Ce chiffre correspond à la puissance moyenne continue que pourra supporter sans dommage votre enceinte, ou dans le cas d’un amplificateur, la puissance moyenne continue  qu’il pourra  fournir. </li>
          <li><b>L’impédance nominale</b> (en Ohm):il s'agit de la résistance qu'oppose l'enceinte au courant envoyé par l'amplificateur. Plus cette dernière est basse, plus le courant demandé à l'amplificateur (et donc la puissance nécessaire) sera élevé.En règle générale, un haut-parleur de 8 Ohms demandera moins d’efforts à l’amplificateur qu’un haut-parleur de 4 Ohms, plus l'impédance nominale d'une enceinte est basse, plus l'amplificateur devra être puissant.</li>
          <li><b>Le rendement</b> (exprimé en dB): le rendement d'une enceinte exprime sa capacité à produire un volume sonore donné avec 1 Watt de puissance. Plus le rendement d'une enceinte est élevé, moins l'amplificateur devra être puissant pour produire un même volume sonore. Des enceintes à haut rendement (ex: à partir de 95 dB pour 1 watt à 1 mètre) peuvent se contenter d’un petit amplificateur (ex : 30 Watts RMS). A l'inverse, plus le rendement est bas, plus l'amplificateur devra être puissant afin de compenser.</li>
        </ul>
        <h4>Enceinte active ou passive?</h4>
        <p>Une enceinte passive n’a besoin que d’un seul amplificateur stéréophonique externe pour fonctionner.L’enceinte en elle même ne possède que des éléments passifs ce qui revient à un prix relativement abordable.Le point important ici est de bien choisir son amplificateur.En effet, il est préférable “d’ajuster” les capacités (puissance) de l’enceinte et de l’ampli, le risque étant d’utiliser un amplificateur trop puissant par rapport à la puissance maximale admissible des enceintes  mettant alors les hauts-parleurs en péril ainsi que les éléments passifs  si on l’utilise au maximum de ses capacités,il est donc  préférable de privilégier l'achat d’un amplificateur de qualité en évitant une inutile  course à la puissance.Il en va de même si on opte pour  des enceintes  plus puissantes( et gourmandes en énergie) que l’ampli, celui-ci risque la surchauffe et au mieux  une mise en sécurité et au pire , une panne.</p>
        <p>Une enceinte à filtrage actif requiert  un amplificateur par voie, donc pour une enceinte trois voies il est nécessaire d'acquérir trois amplificateurs, en plus d’un filtre actif (numérique ou analogique ) . Idéalement il est préférable d’utiliser  des amplificateurs de la même marque d'éviter les problèmes de délai sur certaine voies ( temps de montée différent d’un amplificateur à l’autre entraînant des distorsions de phase ).</p>
        <p>Ce procédé peut s'avérer très onéreux par rapport au filtrage passif ( achat de plusieurs amplificateurs ainsi que celui d’un filtre actif )pour un résultat incertain car complexe quant à la mise en oeuvre .</p>

        <p>Il est donc fondamental de prêter attention aux quatre points cités lors d’un achat de matériel audio, il est nécessaire veiller à son budget et ne pas se laisser influencer par l'aspect commercial  (surtout au niveau de la puissance), un système d’un prix modeste mais bien adapté se montrera plus satisfaisant  que des éléments plus coûteux mais mal adaptés.</p>
        <form class="text-center" method="POST">
            <div>
                Possédez-vous déjà un amplificateur ?
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="equipmentAmplifier" id="equipementAmplifier0" value="0" required>
                <label class="form-check-label" for="equipementAmplifier0">Non</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="equipmentAmplifier" id="equipementAmplifier1" value="1" required>
                <label class="form-check-label" for="equipementAmplifier1">Oui</label>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Envoyer">
            </div>
        </form>
      </div>
    </div>
  {% elif request.method == "POST" %}
    <div class="card">
      <div class="card-body text-center">
        {{ tip['tips'] }}
        
        {% if not is_pdf %}
          <div class="mt-3 mb-3">Téléchargez <a href={{ url_for('history.files', dl=1, id=id_pdf) }}>ici</a> le rapport</div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}