{% extends "dashboard.html.jinja2" %}

{% block title %}
  Conseils placement
{% endblock %}

{% block subtitle %}
  Ce petit module va vous permettre de vous faire  une idée sur  la meilleure façon de placer votre système d’écoute stéréo.
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
      <p>Tout d’abord, l’espace entre deux enceintes doit se situer entre 2 et 4 mètres, pas moins afin de favoriser  l’image stéréo, le relief et la répartition de fréquences dans l’espace, pas plus de 4 mètres car sinon on risque de faire face à un manque cruel d’image stéréo au centre des enceintes.</p>
      <p>La distance entre les enceintes et le point d’écoute doit  idéalement être égal, à l’image d’ un triangle équilatéral.</p>
      <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/placement-enceinte.png') }}">
      <p>La hauteur d’installation des enceintes colonnes et compactes est également très importante. En effet, il est nettement préférable de placer les hauts parleurs d’aigus ( du fait de leur plus grande directivité ) à hauteur d'oreilles , sur un même plan horizontal, pour assurer une bonne restitution sonore. Si les colonnes sont généralement d’une taille adaptée pour obtenir cet agencement , le placement d’enceintes compactes s'avèrent plus délicat et complexe,un piètement spécifique est envisageable à défaut d’un positionnement sur un meuble.</p>
      <p>Les parois de votre pièce d’écoute ont une influence importante sur la sonorité de vos enceintes. Les sons émis sont en effet réfléchis sur les murs, les sols, les plafonds, avec plus ou moins d’incidence en fonction du placement des enceintes. En règle générale, il est préférable d’éloigner autant que possible les enceintes des murs. D’après les différents tests établis, une distance de 50 cm par rapport au mur représente  un minimum.</p>
    </div>
</div>
{% endblock %}