{% if is_pdf %}
  {% extends 'pdf.html.jinja2' %}
{% else %}
  {% extends "dashboard.html.jinja2" %}
{% endif %}

{% block title %}
  Conseils pièce
{% endblock %}

{% block subtitle %}
  {% if request.method == "GET" %}
    Ce module est là pour vous aider dans votre quête d’une meilleure optimisation de votre chaîne électro/acoustique et d’un placement optimal de votre écoute stéréo dans votre salle dédiée.
  {% elif request.method == 'POST' %}
    Résultats
  {% endif %}
{% endblock %}

{% block content %}
  {% if request.method == "GET" %}
    <div class="card">
      <div class="card-body">
        <p>Petit point théorique pour vous aider à comprendre le choix d’enceintes à privilégier :</p>
        <p>Ce module va vous guider afin de déterminer le type d’enceinte en bonne adéquation avec votre local d’écoute. Ce choix se portera  sur une enceinte compact de volume variable ou une enceinte colonne.</p>
        <p>Premier point important : connaître la taille de votre salle d'écoute, en effet sans ce paramètre , impossible d’harmoniser avec précision l’enceinte à la pièce , par exemple ,il n’est pas nécessaire d’installer un système surpuissant descendant  dans les très basses fréquences dans une petite et qui finalement, par la grande longueur d’onde,représente une gêne pour le voisinage en plus d'être totalement inutile pour l’auditeur.</p>
        <p>Lorsqu’une source (ici vos enceintes) émet, on dit qu’elle s’entoure d'un champ acoustique, ce champ acoustique est formé d'un champ direct (on ne perçoit que le son provenant des enceintes) et d’un champ réverbéré (on perçoit le son venant des enceintes + le son réfléchi sur les murs, le sol).</p>
        <p>Les paramètres pris en compte ici sont donc :</p>
        <ul>
          <li>la taille de la pièce:  les besoins ne sont pas les mêmes pour une pièce de petite taille ou pour une pièce plus grande.</li>
          <li>la forme: rectangulaire ou carré : dans une pièce rectangulaire la diffusion doit se faire dans le sens de la longueur, on va devoir élargir le champ direct, pour cela il est préférable d'opter pour  de grandes  enceintes compactes ou de prévoir des enceintes de type colonne.</li>
          <li>l'absorption:si la pièce d’écoute contient des tentures, des rideaux ou des tapis présentant un taux d’absorption plus élevé, les hautes fréquences seront plus rapidement  absorbées par rapport aux basses fréquences et cela risque de  provoquer un déséquilibre.</li>
        </ul>
        <p>Pour obtenir davantage de précisions sur le placement de votre écoute stéréo nous vous conseillons de consulter l’onglet “placement”.</p>

        <form class="text-center" method="POST">
            <div>
                Votre pièce est-elle plus grande que 15m² ?
            </div>
            {% for size in sizes %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="roomSize" id="size{{ size['id'] }}" value="{{ size['id'] }}" required>
                    <label class="form-check-label" for="size{{ size['id'] }}">{{ 'Oui' if size['is_bigger'] else 'Non' }}</label>
                </div>
            {% endfor %}

            <div>
                Quelle est la forme de votre pièce ?
            </div>
            {% for shape in shapes %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="roomShape" id="{{ shape['shape'] }}" value="{{ shape['id'] }}" required>
                    <label class="form-check-label" for="{{ shape['shape'] }}">{{ shape['shape'].capitalize() }}</label>
                </div>
            {% endfor %}

            <div>
                Votre pièce possède t-elle des matériaux absorbants ?
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="roomAbsorption" id="roomAbsorption0" value="0" required>
                <label class="form-check-label" for="roomAbsorption0">Non</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="roomAbsorption" id="roomAbsorption1" value="1" required>
                <label class="form-check-label" for="roomAbsorption1">Oui</label>
            </div>
            <div class="form-group text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Envoyer">
            </div>
        </form>
      </div>
    </div>
  {% elif request.method == "POST" %}
    <div class="card">
      <div class="card-body text-center">
        {{ tip['tips'] }}
        
        {% if not is_pdf %}
          <div class="mt-3 mb-3">Téléchargez <a href={{ url_for('history.files', dl=1, id=id_pdf) }}>ici</a> le rapport</div>
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}