{% extends 'dashboard.html.jinja2' %}

{% block title %}
    Changement de mail
{% endblock %}

{% block subtitle %}

{% endblock subtitle %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Changement de mail</h1>
            </div>

            {% with categories = ['error', 'success'] %}
                {% include 'utils/alert/alert.html.jinja2' %}
            {% endwith %}

            <form class="user" method="POST">
                <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="email" name="email" value="{{ g.user['email'] }}" required>
                </div>
                <input type="submit" value="Changer votre email" class="btn btn-primary btn-user btn-block">
            </form>
        </div>
    </div>
{% endblock content %}