{% extends 'dashboard.html.jinja2' %}

{% block title %}
    Changement de mot de passe
{% endblock %}

{% block subtitle %}

{% endblock subtitle %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <div class="text-center">
                <h1 class="h4 text-gray-900 mb-2">Changement de mot de passe</h1>
            </div>

            {% with categories = ['error', 'success'] %}
                {% include 'utils/alert/alert.html.jinja2' %}
            {% endwith %}

            <form class="user" method="POST">
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Nouveau mot de passe" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control form-control-user" id="passwordRepeat" name="passwordRepeat" placeholder="Retapez votre nouveau mot de passe" required>
                </div>
                <input type="submit" value="Changer votre mot de passe" class="btn btn-primary btn-user btn-block">
            </form>
        </div>
    </div>
{% endblock content %}