{% if is_pdf %}
  {% extends 'pdf.html.jinja2' %}
{% else %}
  {% extends "dashboard.html.jinja2" %}
{% endif %}

{% block title %}
  {% if request.method == "GET" %}
    Enceinte Modulable
  {% elif request.method == "POST" %}
    Enceinte Modulable
  {% endif %}
{% endblock %}

{% block subtitle %}
  {% if request.method == "GET" %}
    Tous les éléments pour construire vos propres enceintes sont présents dans ce module, selon vos préférences vous avez le choix entre deux approches, deux méthodes:
    <ul>
      <li>une enceinte mono-voie </li>
      <li>une enceinte deux voies.</li>
    </ul>
  {% elif request.method == "POST" %}
    Résultats
  {% endif %}
{% endblock %}

{% block content %}
  {% if request.method == "GET" %}
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Enceinte mono-voie</h5>
          <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/enceinte-1-voie.png', _external=external) }}">
          <form method="POST">
            <input type="hidden" id="nbLane" name="nbLane" value="1">
            <div class="form-group text-center">
              <input class="btn btn-primary" type="submit" value="Enceinte mono-voie">
            </div>
          </form>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center">Enceinte deux voies</h5>
          <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/enceinte-2-voies.png', _external=external) }}">
          <form method="POST">
            <input type="hidden" id="nbLane" name="nbLane" value="2">
            <div class="form-group text-center">
              <input class="btn btn-primary" type="submit" value="Enceinte deux voies">
            </div>
          </form>
        </div>
      </div>
    </div>
  {% elif request.method == "POST" %}
    <div class="card">
      <div class="card-body text-center">
      {% if nb_lane == 1 %}
        <h3 class="card-title">Construction mono-voie</h3>
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/enceinte-1-voie.png', _external=external) }}">
        <p>Voici le haut-parleur large-bande que nous allons utiliser : le {{ speakers[0]['ls']['brand'] }}.
          Visaton est une marque allemande très réputée, fiable, présente sur le marché depuis de nombreuses années.
          On observe que la réponse en fréquence de ce haut-parleur est relativement  stable jusqu à 7kHz.</p>
        
        <p>Voici la courbe de réponse en fréquence du haut-parleur :</p>
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/reponse-frequence-visaton.png', _external=external) }}">
        
        <p>Et voici ses caractéristiques :</p>
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/carac-visaton.png', _external=external) }}">
        
        <h4>Choix du volume de l’enceinte {{ speakers[0]['type'] }}</h4>
        <p>L’enceinte {{ speakers[0]['type'] }}, comme dit précédemment, est une technique utilisée pour étendre la bande passante dans le grave d’une enceinte close (enceinte {{ speakers[0]['type'] }} = volume clos + event).</p>
        
        <p>Pour les dimensions de notre enceinte, nous allons nous baser sur les dimensions d’une enceinte colonne (donc relativement haute mais pas très encombrante).</p>
        <p>Les dimensions sont donc : </p>
        <div>1m10 de hauteur</div>
        <div>30cm de longueur</div>
        <div>40cm de profondeur</div>
        <p>Pour obtenir un volume total de {{ speakers[0]['volume'] }} litres.</p>

        <p>Il faudra nécessairement recouvrir les parois avec des mousses absorbantes pour ne pas rencontrer de problème de réflexions internes.</p>
        <img width="20%" class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/mousse-acoustique.png', _external=external) }}">
        <p class="small">Voilà le type d’absorbant mis en place sur les parois du caisson de l'enceinte {{ speakers[0]['type'] }}.</p>

        <h4>Calcul de l’évent</h4>
        <p>Le calcul de l’évent va nous permettre de trouver notre fréquence d’accord car c’est en jouant sur les dimensions de l'évent que nous allons atteindre la fréquence d’accord souhaitée.</p>
        <p>Etant donné que la fréquence de résonance du large bande est de {{ speakers[0]['ls']['freq_res'] }}Hz, nous allons choisir une fréquence de résonance pour l’évent de {{ speakers[0]['vent']['freq_res'] }}Hz, cela va nous permet d'étendre la bande passante de façon réaliste et de ne pas prendre de risque vis à vis des déplacements de mon haut-parleur, ce qui pourrait lui être fatal.</p>
        <p>(la contrainte principale à pouvoir descendre dans le domaine des très basses fréquences, inférieures à 20 Hz, se situe dans le déplacement de la membrane du haut-parleur car en effet, pour un large-bande de diamètre moyen, la restitution de grandes longueurs d’ondes va être difficile et il risque de se déchausser de l’enceinte et de se déformer).</p>
        <p>Surface pour un évent rectangulaire : S= Largeur*Hauteur={{ speakers[0]['vent']['width'] }}*{{ speakers[0]['vent']['height'] }} = 0,025m2</p>
        <p>Calcul de la fréquence d’accord  Fb (fréquence de résonance de l’évent):</p>
        <p>\[ Fb = {C\over 2\pi} * {\sqrt{S \over (L+K*\sqrt{S})*VB}}={{ speakers[0]['vent']['freq_res'] }}Hz \]</p>
        <div>C = Vitesse du son = 343.4 m/s à 20° C.</div>
        <div>S = 0,025  Surface de l'évent en m2</div>
        <div>L = {{ speakers[0]['vent']['length'] }} Longueur de l'évent en m</div>
        <div>VB = 0,132  Volume de l'enceinte en m3</div>
        <p>K = coefficient de correction d'extrémité pour S il vaut 0.96.</p>

        <p>Nous allons donc utiliser le haut-parleur large-bande {{ speakers[0]['ls']['brand'] }} dont nous allons corriger les corrections (irrégularités autour de 3000Hz) grâce à un circuit dit Bouchon ( RLC parallèle).</p>
        <p>Le circuit bouchon permet d'atténuer une certaine bande de fréquence.</p>
        <p>Le circuit bouchon présente une grande impédance à la fréquence Fo, il empêche les signaux à cette fréquence d'accéder au circuit.</p>
        <p>Ce circuit est à la base un circuit LC, mais il y a une résistance parasite qui représente le défaut d’isolement du condensateur.</p>
        <p>Cette résistance implique qu’à la fréquence de résonance l’impédance n’est pas infinie comme elle devrait l'être ici, ce qui est utile dans notre cas puisque que cela va nous permettre de régler comme nous le souhaitons le niveau de notre atténuation.</p>

        <h4>Schéma du circuit RLC/bouchon:</h4>
        <img width="30%" class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/circuit-bouchon.png', _external=external) }}">
        <p>Tout  est calculé pour avoir une atténuation de -5dB à {{ speakers[0]['filter'][0]['freq_central'] }} Hz.</p>
        <div>\[R = {{ speakers[0]['filter'][0]['resistors'][0]['resistor'] }}ohm\]</div>
        <div>\[ C = {1\over((2\pi)^2*(F0)^2*L)} = {{ speakers[0]['filter'][0]['capacitors'][0]['capacitor'] }}µF \]</div>
        <div>\[ L = {1\over((2\pi)^2*(F0)^2*C)} = {{ speakers[0]['filter'][0]['coils'][0]['coil'] }}mH \]</div>
        <p>\[ F0 = {1\over(2\pi*(L*C))} = 3007,7Hz\]</p>

        <div>Le facteur Q de ce circuit détermine sa bande passante (plage de fréquences sur lesquelles le circuit va agir) , il symbolise la qualité du circuit.</div>
        <p>Q= R/(L/C)= 0,17</p>
        <div>Calcul de la bande passante (B):</div>
        <p>B= F0/Q=20 000 (de 500Hz à 20500Hz)</p>
        <p>Voici la courbe d'atténuation obtenue</p>
        <img width="45%" class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/attenuation-circuit-bouchon.png', _external=external) }}">
        
        <p>Voilà tous les éléments nécessaires pour fabriquer votre enceinte mono-voie. Il n’y a pas besoin de filtre supplémentaire pour la bande passante de l’enceinte car l’avantage, en outre, de travailler avec un type {{ speakers[0]['type'] }} est que la réponse en fréquence de cette enceinte décroît de 24dB par octave hors de sa bande passante dans les basses fréquences et que de plus, le circuit bouchon utilisé s’occupe lui des fréquences médium-aigus, ce qui nous fait économiser des composants électriques et de la place dans l’enceinte</p>

        
      {% elif nb_lane == 2 %}
        <h3 class="card-title">Construction 2 voies</h3>
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/enceinte-2-voies.png', _external=external) }}">
        <p>Cette enceinte est constituée de deux haut-parleur:</p>
        <div>Un {{ speakers[0]['ls']['type'] }} {{ speakers[0]['ls']['brand'] }}</div>
        <p>Un {{ speakers[1]['ls']['type'] }} à ruban {{ speakers[1]['ls']['brand'] }}</p> 
        
        <p>Voici le haut-parleur large-bande que nous allons utiliser: le Visaton BG20.</p>
        <p>Visaton est une marque allemande très réputée, fiable, présente sur le marché depuis de nombreuses années.</p>
        <p>On observe que la réponse en fréquence de ce haut-parleur est relativement  stable jusqu à 7kHz.</p>
        <p>Voici la courbe de réponse en fréquence du haut-parleur:</p>
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/reponse-frequence-visaton.png', _external=external) }}">
        
        <p>Et voici ses caractéristiques :</p>
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/carac-visaton.png', _external=external) }}">
        
        <p>Voici les caractéristiques du tweeter Monacor:</p>
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/reponse-freq-tweeter.png', _external=external) }}">
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/carac-tweeter.png', _external=external) }}">
        
        <p>Nous allons leur définir chacun une plage de fréquence grâce à deux filtres:</p>
        <div>un {{ speakers[1]['filter'][0]['type'] }} pour le {{ speakers[1]['ls']['type'] }}</div>
        <div class="mb-3">un {{ speakers[0]['filter'][0]['type'] }} pour le {{ speakers[0]['ls']['type'] }}</div>
        
        <p>Voici les calculs pour arriver à déterminer les éléments constitutifs des ces deux filtres.</p>
        <p>Nous allons nous baser sur le schéma suivant qui est un filtre passif du 3eme ordre, donc avec une pente à -18dB par octave.</p>
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/filtre-ordre-3.png', _external=external) }}">
        
        <h4>{{ speakers[1]['filter'][0]['type'].title() }} (pour le haut-parleur aigue)</h4>
        <p>Fréquence de coupure: {{ speakers[1]['filter'][0]['cut_freq'] }} Hz.</p>
        <p>Calculs:</p>
        <p>\[C2 = {1\over(3\pi*Fc*Z)} = {1\over(3\pi*8000*6,2)} = {{ speakers[1]['filter'][0]['capacitors'][0]['capacitor'] }}µF\]</p>
        <p>\[L3 = {3*Z\over(8\pi*Fc)} = {3*6,2\over(8\pi*8000)} = {{ speakers[1]['filter'][0]['coils'][0]['coil'] }}mH\]</p>
        <p>\[C3 = {1\over(\pi*Fc*Z)} = {1\over(\pi*Fc*6,2)} = {{ speakers[1]['filter'][0]['capacitors'][1]['capacitor'] }}µF\]</p>
        
        <h4>Passe-bas (pour le haut-parleur Médium/grave)</h4>
        <p>J’ai choisi une fréquence de coupure à {{ speakers[0]['filter'][0]['cut_freq'] }} Hz</p>
        <p>\[L1= {3Z\over4\pi*Fc} = {3*L2}={{ speakers[0]['filter'][0]['coils'][1]['coil'] }}mH\]</p>
        <p>\[L2 = {Z\over4\pi*Fc} = {6,2\over4\pi*6100} = {{ speakers[0]['filter'][0]['coils'][0]['coil'] }}mH\]</p>
        <p>\[C3 = {2\over3\pi*Z*Fc} = {2\over3\pi*6,2*6100} = {{ speakers[0]['filter'][0]['capacitors'][0]['capacitor'] }}µF\]</p>
            
        <h4>Voici la courbe résultante: </h4>
        <img class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/courbe-filtre.png', _external=external) }}">
        <h3>Nous allons ensuite calculer les volumes du tweeter, de l’enceinte {{ speakers[0]['type'] }} et de l’évent:</h3>
        <h4>Choix du volume de l’enceinte {{ speakers[0]['type'] }}</h4>
        <p>L’enceinte {{ speakers[0]['type'] }}, comme dit précédemment, est une technique utilisée pour étendre la bande passante dans le grave d’une enceinte close (enceinte {{ speakers[0]['type'] }} = volume clos + event).</p>
        <p>Pour les dimensions de notre enceinte, nous allons nous baser sur les dimensions d’une enceinte colonne (donc relativement haute mais pas très encombrante).</p>
        <p>Les dimensions sont donc : </p>
        <div>1m10 de hauteur </div>
        <div>30cm de longueur</div>
        <div>40cm de profondeur</div>            
        <p>Pour obtenir un volume total de {{ speakers[0]['volume'] }} litres.</p>
            
        <p>Il faudra nécessairement recouvrir les parois avec des mousses absorbantes pour ne pas rencontrer de problème de réflexions internes.</p>
        <img width="20%" class="rounded mx-auto d-block mb-3 mt-3" src="{{ url_for('static', filename='img/mousse-acoustique.png', _external=external) }}">
        <p>Voilà le type d’absorbant mis en place sur les parois du caisson de l'enceinte {{ speakers[0]['type'] }}.</p>
        <h4>Choix du volume du {{ speakers[1]['ls']['type'] }}:</h4>
        <p>Le calcul du volume du {{ speakers[1]['ls']['type'] }} demande moins de recherches que celui du large-bande car en effet, les fréquences aiguës sont plus facilement retransmises et on ne doit donc pas chercher à étendre la bande passante.</p>
        <p>J’ai choisi de placer le {{ speakers[1]['ls']['type'] }} dans un  caisson carré de 10cm de côté, on  arrive donc à une petite enceinte close d’{{ speakers[1]['volume'] }} litre.</p>
        
        <h4>Calcul de l’évent</h4>
        <p>Le calcul de l’évent va nous permettre de trouver notre fréquence d’accord car c’est en jouant sur les dimensions de l'évent que nous allons atteindre la fréquence d’accord souhaitée.</p>
        <p>Etant donné que la fréquence de résonance du large bande est de {{ speakers[0]['ls']['freq_res'] }}Hz, nous allons choisir une fréquence de résonance pour l’évent de {{ speakers[0]['vent']['freq_res'] }}Hz, cela va nous permet d'étendre la bande passante de façon réaliste et de ne pas prendre de risque vis à vis des déplacements de mon haut-parleur, ce qui pourrait lui être fatal.</p>
        <p>La contrainte principale à pouvoir descendre dans le domaine des très basses fréquences, inférieures à 20 Hz, se situe dans le déplacement de la membrane du haut-parleur car en effet, pour un large-bande de diamètre moyen, la restitution de grandes longueurs d’ondes va être difficile et il risque de se déchausser de l’enceinte et de se déformer.</p>
        <p>Surface pour un évent rectangulaire : S= Largeur*Hauteur={{ speakers[0]['vent']['width'] }}*{{ speakers[0]['vent']['height'] }} = 0,025m2</p>
        <p>Calcul de la fréquence d’accord  Fb (fréquence de résonance de l’évent):</p>
        <p>\[ Fb = {C\over 2\pi} * {\sqrt{S \over (L+K*\sqrt{S})*VB}}={{ speakers[0]['vent']['freq_res'] }}Hz \]</p>
        <div>C = Vitesse du son = 343.4 m/s à 20° C.</div>
        <div>S = 0,025  Surface de l'évent en m2</div>      
        <div>L = {{ speakers[0]['vent']['length'] }} Longueur de l'évent en m</div> 
        <div>VB = 0,132  Volume de l'enceinte en m3</li>
        <div class="mb-3">K = coefficient de correction d'extrémité pour S il vaut 0.96.</div> 
        <p>Voilà donc tous les éléments pour concevoir votre propre enceinte deux voies !</p>
      {% endif %}
      {% if not is_pdf %}
        <div class="mt-3 mb-3">Téléchargez <a href={{ url_for('history.files', dl=1, id=id_pdf) }}>ici</a> le rapport</div>
      {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}