{% extends "dashboard.html.jinja2" %}

{% block title %}
  Contact
{% endblock %}

{% block subtitle %}
  Pour tout type de questions, n'hésitez pas à nous contacter ! Nous vous répondrons dans les plus brefs délais.
{% endblock %}

{% block content %}
<div class="card">
    <div class="card-body">
        
        {% with categories = ['error', 'success'] %}
            {% include 'utils/alert/alert.html.jinja2' %}
        {% endwith %}
        
        <form method="POST">
            <div class="form-group">
                <label for="contactSubject">Sujet</label>
                <input type="text" class="form-control" id="contactSubject" name="contactSubject" placeholder="Sujet..." required>
            </div>
            <div class="form-group">
                <label for="contactText">Message</label>
                <textarea class="form-control" id="contactText" name="contactText" rows="12" required></textarea>
            </div>
            <input type="submit" value="Envoyer" class="btn btn-primary btn-user btn-block">
        </form>
    </div>
</div>
{% endblock %}