<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DesignYourSound - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/auth-and-user.min.css') }}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon"  href="{{ url_for('static', filename='img/DesignYourSound-wave.svg') }}"/>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="d-flex align-items-center justify-content-center" href="{{ url_for('dashboard.dashboard') }}">
        <img class="mt-2 mb-2" width="60%" src="{{ url_for('static', filename='img/DesignYourSound-final.svg') }}">
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dashboard.dashboard') }}">
          <i class="fas fa-home"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Modules
      </div>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('speaker.speaker') }}">
          <i class="fas fa-fw fa-wave-square"></i>
          <span>Enceinte Modulable</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseTips" aria-expanded="true" aria-controls="collapsePages">
          <i class="far fa-fw fa-lightbulb"></i>
          <span>Conseils</span>
        </a>
        <div id="collapseTips" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{{ url_for('tips.room') }}">Pièce</a>
              <a class="collapse-item" href="{{ url_for('tips.equipment') }}">Équipement</a>
              <a class="collapse-item" href="{{ url_for('tips.placement') }}">Placement</a>
            </div>
          </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('history.history') }}">
          <i class="fas fa-fw fa-history"></i>
          <span>Historique</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('dashboard.contact') }}">
          <i class="far fa-envelope"></i>
          <span>Contact</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      {# If admin #}
      {% if g.user.id_status == 1 %}
        <!-- Heading -->
        <div class="sidebar-heading">
          Admin
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        {# <li class="nav-item active"> #}
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>Utilisateurs</span>
          </a>
          {# <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar"> #}
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" href="{{ url_for('admin.admin_users') }}">Liste</a>
              <a class="collapse-item" href="{{ url_for('admin.admin_user_add') }}">Ajouter</a>
            </div>
          </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">
      {% endif %}
      {# endif admin #}

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">            

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ g.user['first_name'] }} {{ g.user['last_name'] }}</span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ url_for('user.change_email') }}">
                  <i class="far fa-envelope mr-2 text-gray-400"></i>
                  Modifier votre email
                </a>
                <a class="dropdown-item" href="{{ url_for('user.change_password') }}">
                  <i class="fas fa-key mr-2 text-gray-400"></i>
                  Modifier votre mot de passe
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Se déconnecter
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">{% block title %}Bienvenue sur DesignYourSound !{% endblock %}</h1>
          <p class="mb-1">{% block subtitle %}Construisez des enceintes modulables, de qualité et sur mesure{% endblock %}</p>

          {% block content %}
            <div class="card">
              <div class="card-body">
                Sur ce site, vous allez pouvoir intéragir avec les différents modules mis à votre disposition : 
                <ul>
                  <li><b>Module d'enceinte modulable</b> : vous permet d'avoir toutes les informations nécessaires quant à la constrcution d'une enceinte</li>
                  <li><b>Module de conseils</b> : vous permet de recevoir des conseils adaptés à votre configuration, sur base de : </li>
                    <ul>
                      <li>la configuration de votre pièce</li>
                      <li>Votre équipement</li>
                      <li>Votre placement</li>
                    </ul>
                  <li><b>Module d'historique</b> : où vous retrouverez l'historique, en fichier pdf, de chaque module que vous avez utilisé</li>
                </ul>
                En cas de questions, n'hésitez pas à nous contacter via la page de <a href="{{ url_for('dashboard.contact') }}" >contact</a> !
              </div>
            </div>
          {% endblock %}
        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; DesignYourSound 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/auth-and-user.min.js') }}"></script>

</body>

</html>
