{% extends 'dashboard.html.jinja2' %}

{% block title %}
    Historique
{% endblock %}

{% block subtitle %}
    Retrouvez ici, en pdf, l'historique de chaque module que vous avez utilisé.
{% endblock %}

{% block content%}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Historique {{ g.user['first_name'] + ' ' + g.user['last_name'] }}</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="historyTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>{{ pretty_keys['module'] }}</th>
                        <th>{{ pretty_keys['path'] }}</th>
                        <th>{{ pretty_keys['creation_date'] }}</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>{{ pretty_keys['module'] }}</th>
                        <th>{{ pretty_keys['path'] }}</th>
                        <th>{{ pretty_keys['creation_date'] }}</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for file in files %}
                        <tr>
                            <td>{{ file['module'] }}</td>
                            <td><a href="files/0/{{ file['id'] }}" target="_blank">Lien</a></td>
                            <td>{{ file['creation_date'] }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}