<head>
    <meta charset="utf-8">
</head>
<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800">{% block title %}{% endblock %}</h1>
    <p class="mb-1">{% block subtitle %}{% endblock %}</p>

    {% block content %}
    
    {% endblock %}
</div>